.page{
	background: #eee;
	&__h{
		color: #fff;
	}
	&__img{
		background: url('./../public/img/download.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 300px;
		height: 300px;
	}
}